/* colours */
/* darkgrey #363636
green #00a847
light grey #dbdbe3 */
/* #AA6DA3 */
/* #B118C8 */

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #dcdee5;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-right: 10px;
  padding-left: 10px;
}

h1,
h2 {
  text-transform: uppercase;
  color: black;
  margin: 20px 10px 2px 10px;
}

.title,
.secondary-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid black;

  @media screen and (max-width: 320px) {
    border-bottom: 1px solid transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  h1 {
    @media screen and (max-width: 320px) {
      font-size: 1.8rem;
      border-bottom: 1px solid transparent;
      width: 100%;
    }
  }

    h2 {
      @media screen and (max-width: 960px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 320px) {
        font-size: 1.8rem;
        border-bottom: 1px solid transparent;
        width: 100%;
      }
    }
}

.map {
    @media screen and (max-width: 960px) {
      font-size: 1rem; 
    }

    // @media screen and (max-width: 760px) {
    //   font-size: 1rem; 
    //   margin-right: 0px;
    // }

    @media screen and (max-width: 520px) {
      margin-right: 35px;
    }

    @media screen and (max-width: 320px) {
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: left;
    }

    a {

      @media screen and (max-width: 320px) {
        font-size: 1rem;
        text-align: center;
        margin-left: 12px;

      }
    }
}

.secondary-title {
  margin-top: 10px;

  @media screen and (max-width: 960px) {
    border-bottom: 1px solid transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  @media screen and (max-width: 320px) {
    flex-direction: column-reverse;
  }
}

.skills {

  @media screen and (max-width: 960px) {
    margin-top: 20px;
  }

  @media screen and (max-width: 630px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    i {
      margin: 5px 5px;
      
      @media screen and (max-width: 515px) {
        flex: 1 1 12%;
        margin: 10px;
        // font-size: 1.3rem;
      }

      @media screen and (max-width: 460px) {
        font-size: 1.4rem;
        margin: 20px;
      }
    }
  }
  @media screen and (max-width: 320px) {
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
  }
}

.names {
  margin-top: 50px;

  @media screen and (max-width: 600px) {
    margin-top: 10px;

  }
}

.rectangle {
  border-bottom: 1px solid black;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  @media screen and (max-width: 700px) {
    height: 200px;
  }
 
}

.viewer-object {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    background-color: transparent;
    animation: blink 3s infinite;
  }
}

i {
  font-size: 2rem;
  margin: 0 10px;
}

p {
  font-size: 1.4rem;
}

.contact {
  padding: 5px;
  background-color: #00a847;
}

.anchored-cv-button {
  background-color: #aa6da3;
  margin-bottom: 25px;

  a {
    font-size: 2rem;
    margin: 20px;
  }

  @media screen and (max-width: 414px) {
    margin-bottom: 10px;
    display: inline-block;

  }
}

a {
  text-decoration: none;
  color: black;
}

/*=== FADE IN  ===*/
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.underline {
  a {
    margin: 0;
  }
}

.blink {
  -webkit-animation-name: fadeIn;
	animation-name: fadeIn;
  font-size: 1.2rem;
}


.bottom-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1060px) {
    justify-content: flex-end;
  }
}

.top-split-bar {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 700px) {
    display: none;
  }
}

.email-bar {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1060px) {
    justify-content: flex-start;
  }
}

.inactive {
  visibility: hidden;
}

.end-line {
  text-align: center;
  width: 50%;

  @media screen and (max-width: 690px) {
    width: 90%;
  }

  @media screen and (max-width: 414px) {
    width: 100%;
    text-align: left;
  }
}
.end-line-top {
  margin: 0;
}
.end-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media screen and (max-width: 700px) {
   display: none;
  }
}

.resume-of,
.email {
  @media screen and (max-width: 1060px) {
   display: none;
  }
}
